android.keystore
*.keystore
*.jks
app/
build/
*.apk
*.aab
*.apks
app-release-*
gradle/
.gradle/
local.properties
store_icon.png
notification_icon.png
splash.png
manifest-checksum.txt
bubblewrap-config.json
.idea/
*.iml
*.jar
*.class
